.form {
  max-width: 40rem;
  margin: 2rem auto;
}

.form label,
.form input {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.form label {
  margin-top: 0.5rem;
}

.form input {
  font: inherit;
  padding: 0.25rem 0.5rem;
  outline: none;
  margin-top: 0.25rem;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: #ccc9c6;
  color: #31302e;
  border: none;
}

.actions a {
  text-decoration: none;
  background-color: transparent;
  color: #ccc9c6;
}

.actions button:hover {
  background-color: #fae1af;
}

.actions a:hover {
  color: #e5b452;
}
